.q-partners{
    max-width: 710px;
    margin: 0 auto 55px auto;

    @media screen and (max-width:780px){
        width: 90%;
     
        img{
           max-width: 90px;
        }

    }
    h2{
        text-align: center;
        margin-bottom: 35px;
    }
    &__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    img{
        width: 150px;
        height: auto;
    }
}